*.md
CPer/node_modules/**
CPer/images/**
Confess/node_modules/**
Confess/images/**
Chapel/node_modules/**
Chapel/images/**
Mugs/node_modules/**
Mugs/images/**
ImgServe/node_modules/**
ImgServe/images/**