<nav>
	<a class="active" href="./">Moderation</a>
	<a href="./stats">Stats</a>
</nav>

<!-- composite test -->
<!-- 	<div id="overlay-images">
		<img id="overlay-0" alt="composite source" src="img/sequence01.png"/>
	</div> -->
	
{{#if photo}}

	<div id="waiting-new">
		<h3>No more photos, please wait. Check out the <a href="./stats">stats</a>.</h3>

	</div>
	<canvas id="previewCanvas" width ="530" height="420"></canvas>
<!-- 	<img src="photos/{{photo.name}}" width="530" height="420" alt="Cat Picture" /> -->
	<div class="button-holder">
		<!-- <form action="./accepted" method="post">
			<input type="hidden" name="photo" value="{{photo.name}}" />
			<input type="submit" value="PUBLICLY ACCEPTABLE" />
		</form> -->
		<div id="moderation-action">
			<form action="./accepted" method="post">
				<input type="hidden" name="photo" value="{{photo.name}}" />
				<input type="button" id="btn-accept" value="PUBLICLY ACCEPTABLE" />
			</form>
			<form action="./declined" id="rejected" method="post">
				<input type="hidden" name="photo" value="{{photo.name}}" />
				<input type="submit" value="NOT" />
			</form>
		</div>
		<div id="image-submit">
			<!-- <form action="./accepted" id="data-submit" method="post" enctype="multipart/form-data"/> -->
			<form action="./saveProcessed" id="data-submit" name="data-submit" method="post"/>
			<!-- <div id="data-submit"> -->
				<input type="hidden" id="photo-name" name="photo" value="{{photo.name}}" />
				<input type="hidden" id="upload" name="upload" value="something"/>
				<!-- submit altered photo -->
				<input type="submit" id="btn-accept" value="SAVE IMAGE" />
			<!-- </div> -->
			</form>
		</div>
	</div>
	<div id="wrapper">
		<canvas id="hiddenCanvas"></canvas>
		<img id="imgtag" alt="capture"/>
	</div>

	

	<script src="js/support/jquery-2.1.3.min.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/main.js"></script>
	<script>

		// imageObj.src = "photos/{{photo.name}}";

		// basic directory 
		// imageObj.src = "images/{{photo.name}}";
		var pollTimer1, pollTimer2;
		var clear = false;

		// rejected
		$("#rejected").submit(function(e)
		{
		    var postData = 'photo=' + document.getElementById('photo-name').value;

		    $.ajax(
		    {
		        url : 'rejected',
		        type: "POST",
		        data : postData,
		        success:function(data, textStatus, jqXHR) 
		        {
		        	//data: return data from server
		        	console.log("successful posting!");
		        	// console.log(data);

		        	if(data.photoName !== undefined && data.photoName !== null){
			        	var nameOfPhoto = data.photoName.name;
				        context.clearRect(0, 0, canvas.width, canvas.height);
				        hiddencontext.clearRect(0, 0, hiddencanvas.width, hiddencanvas.height);

				        imageObj.src = "photos/"+nameOfPhoto;

				        document.getElementById('photo-name').value = nameOfPhoto;

		        	}

		        	else{

		        		clear = false;
		        		console.log("no more photos!");
		        		document.getElementById('moderation-action').style.display = 'none';
    					document.getElementById('image-submit').style.display = 'none';
    					document.getElementById('previewCanvas').style.display = 'none';
    					document.getElementById('waiting-new').style.display = 'block';

		        		poll("/requestNext", "POST", 1000,
						    function beforeRequest(xhr) {
						        return "beforeRequest";
						    },
						    function onSuccess(xhr) {
						        var data = JSON.parse(xhr.responseText);
						        // show messages...
						        console.log('poll success');
						        console.log(data);
						        if(data.photoName !== undefined && data.photoName !== null){
						        	var nameOfPhoto = data.photoName.name;
							        context.clearRect(0, 0, canvas.width, canvas.height);
							        hiddencontext.clearRect(0, 0, hiddencanvas.width, hiddencanvas.height);

							        imageObj.src = "photos/"+nameOfPhoto;

							        document.getElementById('photo-name').value = nameOfPhoto;
							        console.log('found new photo');
							        clearTimeout(pollTimer1);
							        clearTimeout(pollTimer2);
							        clear = true;

					        	}
						    },
						    function onError(xhr, sendRequest, period) {
						        if (xhr.status === 401) {
						            // show dialog to log in user
						            console.log("in 401")
						        }
						        else {
						            // retry the operation
						            console.log('retrying');
						            setTimeout(sendRequest, period + 1000);
						        }
						    }
						);
		        	}

		            
		        },
		        error: function(jqXHR, textStatus, errorThrown) 
		        {
		        	console.log("unsuccesful");
		        	console.log(data);
		            //if fails      
		        }
		    });
		    e.preventDefault(); //STOP default action
		    // e.unbind(); //unbind. to stop multiple form submit.
		});

		// acepted and processed
		$("#data-submit").submit(function(e)
		{
		    var postData = 'photo=' + document.getElementById('photo-name').value;
		    // console.log(postData);
		    var canvasData = hiddenCanvas.toDataURL("image/jpg");
			postData += "&imgData=";
			postData +=canvasData.replace(/^data:image\/(png|jpg);base64,/, "");
			console.log("submit");
			// console.log(postData);



		    $.ajax(
		    {
		        url : 'saveProcessed',
		        type: "POST",
		        data : postData,
		        success:function(data, textStatus, jqXHR) 
		        {
		        	//data: return data from server
		        	console.log("successful posting!");
		        	// console.log(data);

		        	if(data.photoName !== undefined && data.photoName !== null){
			        	var nameOfPhoto = data.photoName.name;
				        context.clearRect(0, 0, canvas.width, canvas.height);
				        hiddencontext.clearRect(0, 0, hiddencanvas.width, hiddencanvas.height);

				        imageObj.src = "photos/"+nameOfPhoto;

				        document.getElementById('photo-name').value = nameOfPhoto;
		        	}

		        	else{

		        		clear = false;
		        		console.log("no more photos!");
		        		document.getElementById('moderation-action').style.display = 'none';
    					document.getElementById('image-submit').style.display = 'none';
    					document.getElementById('previewCanvas').style.display = 'none';
    					document.getElementById('waiting-new').style.display = 'block';
		        		poll("/requestNext", "POST", 1000,
						    function beforeRequest(xhr) {
						        return "beforeRequest";
						    },
						    function onSuccess(xhr) {
						        var data = JSON.parse(xhr.responseText);
						        // show messages...
						        console.log('poll success');
						        console.log(data);
						        if(data.photoName !== undefined && data.photoName !== null){
						        	var nameOfPhoto = data.photoName.name;
							        context.clearRect(0, 0, canvas.width, canvas.height);
							        hiddencontext.clearRect(0, 0, hiddencanvas.width, hiddencanvas.height);

							        imageObj.src = "photos/"+nameOfPhoto;

							        document.getElementById('photo-name').value = nameOfPhoto;
							        console.log('found new photo');
							        clearTimeout(pollTimer1);
							        clearTimeout(pollTimer2);
							        clear = true;

					        	}
						    },
						    function onError(xhr, sendRequest, period) {
						        if (xhr.status === 401) {
						            // show dialog to log in user
						            console.log("in 401")
						        }
						        else {
						            // retry the operation
						            console.log('retrying');
						            setTimeout(sendRequest, period + 1000);
						        }
						    }
						);
		        	}
		        	
		            
		        },
		        error: function(jqXHR, textStatus, errorThrown) 
		        {
		        	console.log("unsuccesful");
		        	console.log(data);
		            //if fails      
		        }
		    });
		    e.preventDefault(); //STOP default action
		    // e.unbind(); //unbind. to stop multiple form submit.
		});

		function poll(url, method, period, beforeRequest, onSuccess, onError) {
		    var xhr = new XMLHttpRequest(),
		        onReadyStateChange= function() {
		            if (this.readyState === 4) {
		                if (this.status === 200 || this.status === 201) {
		                    onSuccess(xhr);
		                    if(!clear){
			                    pollTimer2 = setTimeout(sendRequest, period);
			                }

		                }
		                else if (this.status > 399) {
		                    // Allow error handling code to retry the operation
		                    onError(xhr, sendRequest, period);
		                }
		            }
		        },
		        sendRequest = function() {
		            var data = beforeRequest(xhr) || null;
		            xhr.open(method, url, true);
		            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
		            xhr.send(data);
		        };

		    xhr.onreadystatechange = onReadyStateChange;

		    pollTimer1 = setTimeout(sendRequest, period);
		    // pollTimer1();
		}
		 
	</script>

{{else}}

	<h3>No more photos to vote on! Check out the <a href="./stats">stats</a>.</h3>

{{/if}}